# Exclude all files
/*

# Include all dotfiles, except folders
!/.*
/.*/

# Include config, local/bin and local/share/dotfiles
!/.config/
!/.local
/.local/*
!/.local/bin/
!/.local/share/
/.local/share/*
!/.local/share/dotfiles/


## Exclude these files
.*history*
.bash_logout
.Xauthority
.Xresources
.gtkrc-2.0
.lesshst
.pulse-cookie
.steam*
.fehbg
.gitconfig
.wget-hsts
.mtab.fuseiso

# C
*.[oa]
*~

# Python
__pycache__/
*.py[cod]
*$py.class
