# Exclude all files
/*

# Include all dotfiles, except folders
!/.*
/.*/

# Include config and local/bin
!/.config/
!/.local
/.local/*
!/.local/bin/


## Exclude these files
.*history*
.bash_logout
.Xauthority
.gtkrc-2.0
.lesshst
.pulse-cookie
.steam*
.fehbg
.gitconfig

# C
*.[oa]
*~

# Python
__pycache__/
*.py[cod]
*$py.class
