/*

!/.*

#  files to ignore
/qtile/scripts/display/vars
/qtile/scripts/display/xrandr_command.sh
/systemd/user/default.target.wants/
/spicetify/Backup
/spicetify/Extracted/
/spicetify/Themes/
/rofi/dpi.rasi
/dunst/dunstrc.d/00-colors-dunst.conf
/dunst/dunstrc.d/90-dpi.conf

#This below is added by the dotconf-add function
!/bash/
!/dosbox-x/
!/glow/
!/kitty/
!/lf/
!/rofi/
!/mpv/
!/npm/
!/nsxiv/
!/nvim/
!/picom/
!/pistol/
!/python/
!/pywal-discord/
!/qtile/
!/readline/
!/spicetify/
!/systemd/
!/wal/
!/mimeapps.list
!/git/
!/dunst/
