[Desktop Entry]
Name=NXM Handler
Exec=/bin/sh -c "$HOME/Games/tools/handlers/nxmhandler" %u
Type=Application
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/nxm;
